@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --grey-med: hsl(0, 0%, 55%);
  --grey-dark: hsl(0, 0%, 41%);
  --hero-img: url("./images/desktop/image-hero.jpg");
}

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  transition: all 0.2s ease;
}

p,
a,
button {
  font-family: "Alata", sans-serif;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.site-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: var(--hero-img);
  background-size: cover;
  width: 100%;
  height: 66vh;
  padding: 2rem 8rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .navbar > nav > ul > li > a:hover {
  text-decoration: underline;
} idk do some animation with a div underlining each and expanding from width 0 to width ~60% centered */

.hamburger {
  display: none;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 100;
}

.bar {
  position: absolute;
  left: 0;
  top: 50%;
  width: 2rem;
  height: 3px;
  background-color: white;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

#a {
  transform: translateY(-0.5rem);
}

#c {
  transform: translateY(0.5rem);
}

.active > #a {
  transform: rotate(45deg);
}

.active > #b {
  opacity: 0;
}

.active > #c {
  transform: rotate(-45deg);
}

.hero-txt {
  border: 3px solid white;
  width: fit-content;
  padding: 2rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: auto;
}

h1 {
  font-size: 5rem;
}

.intro-section-container {
  padding: 10% 0 0 10%;
  margin-bottom: 10%;
  width: 100%;
}

.intro-section {
  position: relative;
  width: fit-content;
  height: 100%;
}

#vr-img {
  width: 45vw;
}

.intro-txt {
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 35rem;
  padding: 4rem 0 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}

h2 {
  font-size: 3.75rem;
}

p {
  color: var(--grey-med);
  line-height: 1.5rem;
}

.creations-grid {
  width: 100%;
  padding: 0 10% 10% 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr;
  gap: 1rem;
}

.title-cell,
.btn-cell {
  grid-column: span 2;
  display: flex;
  align-items: center;
  padding: 3em 0;
}

.btn-cell {
  justify-content: flex-end;
}

#see-all-btn {
  color: black;
  width: 7rem;
  height: 2.5em;
  letter-spacing: 0.25em;
  font-size: 0.8rem;
  border-radius: 0;
  border: 1px solid black;
  background-color: transparent;
}

#see-all-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

h3 {
  color: white;
  font-size: 2rem;
}

.creations-cell {
  height: 99%;
  position: relative;
  background-color: black;
}

.creations-cell:hover {
  cursor: pointer;
  background-color: white;
}

.creations-cell:hover > div > h3 {
  color: black;
}

.cell-img-m,
.cell-img-d {
  min-width: 100%;
  opacity: 60%;
  object-fit: cover;
}

.cell-img-m {
  display: none;
}

.cell-txt {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 10%;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-right {
  align-items: flex-end;
}

#footer-logo {
  height: 1.5rem;
}

.social-media-container {
  display: flex;
  gap: 1rem;
}

.social-media-icon {
  background-color: transparent;
  border: none;
  color: white;
}

.social-media-icon:hover,
.footer > div > nav > ul > li > a:hover {
  opacity: 0.6;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
}

.attribution a {
  color: hsl(310, 85%, 58%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(310, 85%, 87%);
}

@media (max-width: 650px) {
  :root {
    --hero-img: url("./images/mobile/image-hero.jpg");
  }

  .hero {
    background-image: var(--hero-img);
    padding: 0;
  }

  .navbar {
    padding: 2rem 1rem;
  }

  #logo {
    z-index: 2;
    height: 1.5rem;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: 66vh;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .menu.open {
    opacity: 1;
    width: 100%;
  }

  ul {
    flex-direction: column;
    text-transform: uppercase;
  }

  .hamburger {
    display: flex;
  }

  .hero-txt {
    padding: 2rem;
    align-self: center;
    width: 90%;
    transform: translateY(-15%);
  }

  h1 {
    font-size: 2.5rem;
  }

  .intro-section-container {
    padding: 10% 5%;
    margin: 0;
    height: 85vh;
  }

  .intro-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  #vr-img {
    width: 100%;
  }

  .intro-txt {
    position: static;
    width: 100%;
    padding: 0 1.5rem;
    text-align: center;
  }

  h2 {
    font-size: 2.25rem;
  }

  .creations-grid {
    padding: 0 1.25rem;
    padding-bottom: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem repeat(auto, 1fr);
    gap: 1rem;
  }

  .title-cell,
  .btn-cell {
    grid-column: 1 / 2;
    justify-content: center;
    padding: 1rem 0;
  }

  .btn-cell {
    align-items: center;
    grid-row-start: 10;
  }

  #see-all-btn {
    width: 12rem;
    height: 3em;
    font-size: 1rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .cell-img-m,
  .cell-img-d {
    max-width: 100%;
  }

  .cell-img-m {
    display: flex;
  }

  .cell-img-d {
    display: none;
  }

  .cell-txt {
    position: absolute;
    left: 1.25rem;
    bottom: 1.25rem;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .footer-left,
  .footer-right {
    align-items: center;
    gap: 1.75rem;
    text-align: center;
  }

  .footer-right {
    align-items: center;
  }

  .footer-left > nav > ul > li > a {
    text-transform: capitalize;
  }
}
